# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
pyvenv.cfg

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
